In [69]:
import os
import sys
from pathlib import Path

import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

sys.path.append("..")
from otc.metrics.metrics import effective_spread

import wandb

from tqdm.auto import tqdm

from scipy.stats import wilcoxon
import warnings

In [2]:
# set here globally
exchange = "cboe"
models = ["gbm", "classical"]
subset = "test"  # "all"
strategy = "transfer"  # "supervised"

In [3]:
key = f"{exchange}_all_{strategy}_{subset}"
dataset = f"fbv/thesis/{exchange}_{strategy}_raw:latest"

os.environ["GCLOUD_PROJECT"] = "flowing-mantis-239216"

run = wandb.init(project="thesis", entity="fbv")

# load unscaled data
artifact = run.use_artifact(dataset)  # type: ignore
data_dir = artifact.download()

# load results
result_dirs = []
for model in models:
    results = f"fbv/thesis/{exchange}_{model}_{strategy}_{subset}:latest"
    artifact = run.use_artifact(results)  # type: ignore
    result_dir = artifact.download()
    result_dirs.append(result_dir)

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: karelze (fbv). Use `wandb login --relogin` to force relogin

wandb: Downloading large artifact cboe_transfer_raw:latest, 663.29MB. 1 files...
wandb:   1 of 1 files downloaded.
Done. 0:0:0.0
wandb: Downloading large artifact cboe_gbm_transfer_test:latest, 67.57MB. 1 files...
wandb:   1 of 1 files downloaded.
Done. 0:0:0.0
wandb: Downloading large artifact cboe_classical_transfer_test:latest, 365.80MB. 1 files...
/pfs/data5/home/kit/stud/uloak/thesis/thesis/lib/python3.8/site-packages/google/auth/_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
wandb:   1 of 1 files downloaded.
Done. 0:0:8.2

In [30]:
# p. 35-38
columns = [
    "buy_sell",
    "EXPIRATION",
    "QUOTE_DATETIME",
    "TRADE_SIZE",
    "TRADE_PRICE",
    "ask_ex",
    "bid_ex",
    "myn",
    "OPTION_TYPE",
    "issue_type",
]


if subset == "all":
    train = pd.read_parquet(
        Path(data_dir, "train_set"), engine="fastparquet", columns=columns
    )
    val = pd.read_parquet(
        Path(data_dir, "val_set"), engine="fastparquet", columns=columns
    )
    test = pd.read_parquet(
        Path(data_dir, "test_set"), engine="fastparquet", columns=columns
    )
    eval_data = pd.concat([train, val, test])
    del train, val, test

elif subset == "test":
    eval_data = pd.read_parquet(
        Path(data_dir, "test_set"), engine="fastparquet", columns=columns
    )


results = []
for i, model in tqdm(enumerate(models)):
    result = pd.read_parquet(Path(result_dirs[i], "results"), engine="fastparquet")
    result.columns = pd.MultiIndex.from_product([[model], result.columns])
    results.append(result)

results_data = pd.concat(results, axis=1, names=models)

assert len(eval_data) == len(results_data)

X_print = eval_data

del results

2it [00:02,  1.28s/it]

In [31]:
results_data

                         gbm classical                                        \
         gbm(classical-size) tick(all) tick(ex) quote(best) quote(ex) lr(ex)
index
24700819                  -1      -1.0      1.0        -1.0      -1.0   -1.0
24700261                  -1      -1.0      1.0        -1.0      -1.0   -1.0
24700842                  -1       1.0      1.0        -1.0      -1.0    1.0
24695039                   1      -1.0     -1.0         1.0      -1.0   -1.0
24700841                   1       1.0      1.0         1.0       1.0    1.0
...                      ...       ...      ...         ...       ...    ...
37155409                   1      -1.0      1.0        -1.0      -1.0   -1.0
37155410                   1       1.0      1.0         1.0       1.0    1.0
37104659                  -1      -1.0     -1.0         1.0       1.0    1.0
37108365                   1      -1.0     -1.0        -1.0      -1.0   -1.0
37155411                   1      -1.0     -1.0        -1.0      -1.0   -1.0

                                                   ...                         \
         lr(best) rev_lr(ex) rev_lr(best) emo(ex)  ... rev_emo(best) clnv(ex)
index                                              ...
24700819     -1.0        1.0         -1.0    -1.0  ...           1.0     -1.0
24700261     -1.0       -1.0         -1.0    -1.0  ...          -1.0     -1.0
24700842     -1.0       -1.0         -1.0     1.0  ...          -1.0      1.0
24695039      1.0       -1.0          1.0    -1.0  ...           1.0     -1.0
24700841      1.0        1.0          1.0     1.0  ...           1.0      1.0
...           ...        ...          ...     ...  ...           ...      ...
37155409     -1.0       -1.0         -1.0    -1.0  ...          -1.0     -1.0
37155410      1.0        1.0          1.0     1.0  ...          -1.0      1.0
37104659      1.0        1.0          1.0     1.0  ...           1.0      1.0
37108365     -1.0       -1.0         -1.0    -1.0  ...          -1.0     -1.0
37155411     -1.0       -1.0         -1.0    -1.0  ...          -1.0     -1.0

                                                                           \
         clnv(best) rev_clnv(ex) rev_clnv(best) trade_size(ex)->tick(all)
index
24700819       -1.0          1.0            1.0                      -1.0
24700261       -1.0         -1.0           -1.0                      -1.0
24700842       -1.0         -1.0           -1.0                       1.0
24695039        1.0         -1.0            1.0                      -1.0
24700841        1.0          1.0            1.0                       1.0
...             ...          ...            ...                       ...
37155409       -1.0         -1.0           -1.0                      -1.0
37155410        1.0         -1.0           -1.0                       1.0
37104659        1.0          1.0            1.0                      -1.0
37108365       -1.0         -1.0           -1.0                       1.0
37155411       -1.0         -1.0           -1.0                       1.0

                                                                             \
         trade_size(ex)->quote(best) trade_size(ex)->quote(best)->quote(ex)
index
24700819                        -1.0                                   -1.0
24700261                        -1.0                                   -1.0
24700842                        -1.0                                   -1.0
24695039                         1.0                                    1.0
24700841                         1.0                                    1.0
...                              ...                                    ...
37155409                        -1.0                                   -1.0
37155410                         1.0                                    1.0
37104659                        -1.0                                   -1.0
37108365                         1.0                                    1.0
37155411                         1.0                                    1.0

                                 \
         quote(best)->quote(ex)
index
24700819                   -1.0
24700261                   -1.0
24700842                   -1.0
24695039                    1.0
24700841                    1.0
...                         ...
37155409                   -1.0
37155410                    1.0
37104659                    1.0
37108365                   -1.0
37155411                   -1.0


         trade_size(ex)->quote(best)->depth(best)->quote(ex)->depth(ex)->rev_tick(ex)
index
24700819                                               -1.0
24700261                                               -1.0
24700842                                               -1.0
24695039                                                1.0
24700841                                                1.0
...                                                     ...
37155409                                               -1.0
37155410                                                1.0
37104659                                               -1.0
37108365                                                1.0
37155411                                                1.0

[12791228 rows x 22 columns]

### Robustness Checks

In [32]:
# prepare columns for printing
X_print["ttm"] = (
    X_print["EXPIRATION"].dt.to_period("M")
    - X_print["QUOTE_DATETIME"].dt.to_period("M")
).apply(lambda x: x.n)

X_print["year"] = X_print["QUOTE_DATETIME"].dt.year

bins_tradesize = [-1, 1, 3, 5, 11, np.inf]
trade_size_labels = ["(0,1]", "(1,3]", "(3,5]", "(5,11]", ">11"]
X_print["TRADE_SIZE_binned"] = pd.cut(
    X_print["TRADE_SIZE"], bins_tradesize, labels=trade_size_labels
)

# p. 38
bins_years = [2004, 2007, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
year_labels = [
    "2005-2007",
    "2008-2010",
    "2011",
    "2012",
    "2013",
    "2014",
    "2015",
    "2016",
    "2017",
]
X_print["year_binned"] = pd.cut(X_print["year"], bins_years, labels=year_labels)

# p. 37
bins_ttm = [-1, 1, 2, 3, 6, 12, np.inf]
ttm_labels = [
    "ttm <= 1 month",
    "ttm (1-2] month",
    "ttm (2-3] month",
    "ttm (3-6] month",
    "ttm (6-12] month",
    "ttm > 12 month",
]
X_print["ttm_binned"] = pd.cut(X_print["ttm"], bins_ttm, labels=ttm_labels)

# Security type
# see 3.0a-mb-explanatory-data-analysis.ipynb
X_print["issue_type"] = X_print["issue_type"].map(
    {
        "0": "Stock options",
        "A": "Index option",
        "7": "Others",
        "F": "Others",
        "%": "Others",
        " ": "Others",
    }
)

# Moneyness p. 38
bins_myn = [-1, 0.7, 0.9, 1.1, 1.3, np.inf]
myn_labels = [
    "myn <= 0.7",
    "myn (0.7-0.9]",
    "myn (0.9-1.1]",
    "myn (1.1-1.3]",
    "myn > 1.3",
]
X_print["myn_binned"] = pd.cut(X_print["myn"], bins_myn, labels=myn_labels)

# mid
mid_ex = 0.5 * (X_print["ask_ex"] + X_print["bid_ex"])
X_print["mid"] = mid_ex

# p. 31
def map_quotes(x):
    if x["TRADE_PRICE"] == x["bid_ex"] or x["TRADE_PRICE"] == x["ask_ex"]:
        return "at quote"
    elif x["TRADE_PRICE"] < x["bid_ex"] or x["TRADE_PRICE"] > x["ask_ex"]:
        return "outside"
    elif x["TRADE_PRICE"] == x["mid"]:
        return "at mid"
    # TODO: See my mail to C Grauer. How to handle unknowns?
    elif (
        x["bid_ex"] < x["TRADE_PRICE"] < x["mid"]
        or x["mid"] < x["TRADE_PRICE"] < x["ask_ex"]
    ):
        return "inside"
    return "other"


X_print["prox_q_binned"] = X_print[["TRADE_PRICE", "mid", "bid_ex", "ask_ex"]].apply(
    map_quotes, axis=1
)

# clean up empty buckets, as it causes empty grouping in result set generatio
X_print["year_binned"] = X_print["year_binned"].cat.remove_unused_categories()
X_print["myn_binned"] = X_print["myn_binned"].cat.remove_unused_categories()
X_print["ttm_binned"] = X_print["ttm_binned"].cat.remove_unused_categories()


X_print.drop(
    columns=[
        "EXPIRATION",
        "QUOTE_DATETIME",
        "TRADE_SIZE",
        "ttm",
        "myn",
        "ask_ex",
        "bid_ex",
        "year",
    ],
    inplace=True,
)

In [33]:
X_print.head(20)

,buy_sell,TRADE_PRICE,OPTION_TYPE,issue_type,TRADE_SIZE_binned,year_binned,ttm_binned,myn_binned,mid,prox_q_binned
index,,,,,,,,,,
24700819,-1,1.730000,C,Others,"(0,1]",2015,ttm (1-2] month,myn (0.9-1.1],NaN,other
24700261,-1,0.600000,C,Stock options,"(1,3]",2015,ttm <= 1 month,myn (0.9-1.1],0.80,at quote
24700842,-1,1.300000,C,Others,"(1,3]",2015,ttm <= 1 month,myn (0.9-1.1],NaN,other
24695039,1,1.280000,C,Others,"(0,1]",2015,ttm <= 1 month,myn (0.9-1.1],NaN,other
24700841,-1,1.040000,C,Others,>11,2015,ttm <= 1 month,myn (0.9-1.1],1.00,at quote
182536,-1,3.300000,P,Others,"(0,1]",2015,ttm (3-6] month,myn (0.7-0.9],NaN,other
24700164,1,0.250000,C,Stock options,>11,2015,ttm <= 1 month,myn (0.9-1.1],NaN,other
24323781,1,64.239998,P,Index option,"(0,1]",2015,ttm (3-6] month,myn (0.9-1.1],NaN,other
24700851,1,8.950000,C,Stock options,"(0,1]",2015,ttm <= 1 month,myn (0.9-1.1],8.50,inside
24698285,1,0.450000,C,Others,"(0,1]",2015,ttm <= 1 month,myn (0.9-1.1],0.47,at quote
321998,1,2.100000,P,Others,"(0,1]",2015,ttm (3-6] month,NaN,NaN,other
24160476,1,0.350000,P,Others,"(5,11]",2015,ttm <= 1 month,myn (0.9-1.1],0.25,inside
24699118,-1,1.120000,C,Stock options,"(1,3]",2015,ttm (1-2] month,myn (0.9-1.1],NaN,other
24700432,1,2.500000,C,Stock options,"(1,3]",2015,ttm <= 1 month,myn (0.9-1.1],NaN,other
24690621,1,5.600000,C,Stock options,>11,2015,ttm <= 1 month,myn (0.9-1.1],NaN,other
24693887,-1,1.900000,P,Others,>11,2015,ttm <= 1 month,myn (1.1-1.3],NaN,other
24683416,1,0.850000,C,Others,"(0,1]",2015,ttm > 12 month,myn <= 0.7,0.84,inside
24700858,-1,1.730000,C,Others,"(1,3]",2015,ttm (1-2] month,myn (0.9-1.1],NaN,other
24697178,-1,0.390000,P,Others,"(3,5]",2015,ttm <= 1 month,myn (0.7-0.9],0.39,at quote
24700704,-1,5.000000,P,Stock options,"(5,11]",2015,ttm (6-12] month,myn (0.7-0.9],5.00,at quote

In [34]:
X_print = pd.concat([X_print, results_data], axis=1)

In [35]:
X_print.head()

,buy_sell,TRADE_PRICE,OPTION_TYPE,issue_type,TRADE_SIZE_binned,year_binned,ttm_binned,myn_binned,mid,prox_q_binned,...,"(classical, rev_emo(best))","(classical, clnv(ex))","(classical, clnv(best))","(classical, rev_clnv(ex))","(classical, rev_clnv(best))","(classical, trade_size(ex)->tick(all))","(classical, trade_size(ex)->quote(best))","(classical, trade_size(ex)->quote(best)->quote(ex))","(classical, quote(best)->quote(ex))","(classical, trade_size(ex)->quote(best)->depth(best)->quote(ex)->depth(ex)->rev_tick(ex))"
index,,,,,,,,,,,,,,,,,,,,,
24700819,-1,1.73,C,Others,"(0,1]",2015,ttm (1-2] month,myn (0.9-1.1],NaN,other,...,1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0
24700261,-1,0.60,C,Stock options,"(1,3]",2015,ttm <= 1 month,myn (0.9-1.1],0.8,at quote,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
24700842,-1,1.30,C,Others,"(1,3]",2015,ttm <= 1 month,myn (0.9-1.1],NaN,other,...,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0
24695039,1,1.28,C,Others,"(0,1]",2015,ttm <= 1 month,myn (0.9-1.1],NaN,other,...,1.0,-1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,1.0
24700841,-1,1.04,C,Others,>11,2015,ttm <= 1 month,myn (0.9-1.1],1.0,at quote,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## Results Set Generation

In [36]:
LUT = {
    "(ex)": " (ex)",
    "(best)": " (best)",
    "rev_": "Rev. ",
    "tick": "Tick",
    "quote": "Quote",
    "trade_size": "Trade Size",
    "depth": "Depth",
    "->": " $\\to$ ",
    "lr": "\gls{LR}",
    "emo": "\gls{EMO}",
    "clnv": "\gls{CLNV}",
    "OPTION_TYPE": "Option Type",
    "(": "$(",  # put interval start in math env
    "]": "]$",  # put interval end in math env
    "_": "$\_",
}

LUT_INDEX = {
    "OPTION_TYPE": "Option Type",
    "issue_type": "Security Type",
    "TRADE_SIZE_binned": "Trade Size",
    "year_binned": "Year",
    "ttm_binned": "Time to Maturity",
    "myn_binned": "Moneyness",
    "prox_q_binned": "Location to Quote",
}


def cell_str(x):
    for orig, sub in LUT.items():
        x = x.replace(orig, sub)
    return x


def highlight_max(s, props=""):
    return np.where(s == np.nanmax(s.values), props, "")

In [37]:
def set_tex_style(styler, caption, label):
    res = (
        styler.set_caption(caption)
        # .hide(axis="index")
        .apply(
            highlight_max, props="font-weight:bold;", axis=0
        )  # optionally set subset....
        .format_index(cell_str, axis=0)
        .format_index(cell_str, axis=1)
        .format(precision=4, decimal=".", thousands=",", escape=False, hyperlinks=None)
        .to_latex(
            f"{label}.tex",
            siunitx=True,
            position_float="centering",
            hrules=True,
            clines="skip-last;data",
            label="tab:" + label,
            caption=caption,
            convert_css=True,
        )
    )
    return res

In [38]:
classifiers = results_data.columns.tolist()
criterions = list(LUT_INDEX)

In [48]:
results_data.columns.tolist()

[('gbm', 'gbm(classical-size)'),
 ('classical', 'tick(all)'),
 ('classical', 'tick(ex)'),
 ('classical', 'quote(best)'),
 ('classical', 'quote(ex)'),
 ('classical', 'lr(ex)'),
 ('classical', 'lr(best)'),
 ('classical', 'rev_lr(ex)'),
 ('classical', 'rev_lr(best)'),
 ('classical', 'emo(ex)'),
 ('classical', 'emo(best)'),
 ('classical', 'rev_emo(ex)'),
 ('classical', 'rev_emo(best)'),
 ('classical', 'clnv(ex)'),
 ('classical', 'clnv(best)'),
 ('classical', 'rev_clnv(ex)'),
 ('classical', 'rev_clnv(best)'),
 ('classical', 'trade_size(ex)->tick(all)'),
 ('classical', 'trade_size(ex)->quote(best)'),
 ('classical', 'trade_size(ex)->quote(best)->quote(ex)'),
 ('classical', 'quote(best)->quote(ex)'),
 ('classical',
  'trade_size(ex)->quote(best)->depth(best)->quote(ex)->depth(ex)->rev_tick(ex)')]

## Accuracy Calculation

In [55]:
X_print.columns

Index([                                                                                   'buy_sell',
                                                                                       'TRADE_PRICE',
                                                                                       'OPTION_TYPE',
                                                                                        'issue_type',
                                                                                 'TRADE_SIZE_binned',
                                                                                       'year_binned',
                                                                                        'ttm_binned',
                                                                                        'myn_binned',
                                                                                               'mid',
                                                                                     'prox_q_binned',
                                                                      ('gbm', 'gbm(classical-size)'),
                                                                          ('classical', 'tick(all)'),
                                                                           ('classical', 'tick(ex)'),
                                                                        ('classical', 'quote(best)'),
                                                                          ('classical', 'quote(ex)'),
                                                                             ('classical', 'lr(ex)'),
                                                                           ('classical', 'lr(best)'),
                                                                         ('classical', 'rev_lr(ex)'),
                                                                       ('classical', 'rev_lr(best)'),
                                                                            ('classical', 'emo(ex)'),
                                                                          ('classical', 'emo(best)'),
                                                                        ('classical', 'rev_emo(ex)'),
                                                                      ('classical', 'rev_emo(best)'),
                                                                           ('classical', 'clnv(ex)'),
                                                                         ('classical', 'clnv(best)'),
                                                                       ('classical', 'rev_clnv(ex)'),
                                                                     ('classical', 'rev_clnv(best)'),
                                                          ('classical', 'trade_size(ex)->tick(all)'),
                                                        ('classical', 'trade_size(ex)->quote(best)'),
                                             ('classical', 'trade_size(ex)->quote(best)->quote(ex)'),
                                                             ('classical', 'quote(best)->quote(ex)'),
       ('classical', 'trade_size(ex)->quote(best)->depth(best)->quote(ex)->depth(ex)->rev_tick(ex)')],
      dtype='object')

In [70]:
# FIXME: Find better approach
warnings.filterwarnings("ignore", category=np.VisibleDeprecationWarning)

result_dfs = []

for criterion in tqdm(criterions):
    results = []
    for classifier in tqdm(classifiers):
        acc_tot = accuracy_score(
            X_print["buy_sell"].astype("int8"), X_print[classifier]
        )

        res = (
            X_print.groupby([criterion])[["buy_sell", classifier]]
            .apply(
                lambda x: accuracy_score(x["buy_sell"].astype("int8"), x[classifier])
            )
            .mul(100)
            .rename(classifier)
        )
        res.loc["all"] = acc_tot * 100

        res.index.name = LUT_INDEX.get(criterion)
        results.append(res)

    # save aggregated results
    result_df = pd.concat(results, axis=1).T
    result_df.style.pipe(
        set_tex_style,
        caption=(f"long-tbd", "short-tbd"),
        label=f"{key.lower()}-{criterion.lower()}",
    )

    # store all result sets for later use
    result_dfs.append(result_df)

  0%|          | 0/7 [00:00<?, ?it/s]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:02<00:53,  2.53s/it]
  9%|â–‰         | 2/22 [00:05<01:01,  3.06s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:09<01:01,  3.23s/it]
 18%|â–ˆâ–Š        | 4/22 [00:12<00:59,  3.32s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:16<00:57,  3.36s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:19<00:54,  3.38s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:23<00:51,  3.41s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:26<00:47,  3.42s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:30<00:44,  3.42s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:33<00:41,  3.43s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:36<00:37,  3.43s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:40<00:34,  3.44s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:43<00:30,  3.44s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:47<00:27,  3.43s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:50<00:24,  3.44s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [00:54<00:20,  3.44s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [00:57<00:17,  3.44s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:00<00:13,  3.43s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:04<00:10,  3.43s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:07<00:06,  3.43s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:11<00:03,  3.44s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:14<00:00,  3.40s/it]
 14%|â–ˆâ–        | 1/7 [01:14<07:28, 74.73s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:03<01:05,  3.12s/it]
  9%|â–‰         | 2/22 [00:07<01:12,  3.65s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:11<01:12,  3.83s/it]
 18%|â–ˆâ–Š        | 4/22 [00:15<01:10,  3.92s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:19<01:07,  3.97s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:23<01:03,  4.00s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:27<01:00,  4.01s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:31<00:56,  4.02s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:35<00:52,  4.02s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:39<00:48,  4.03s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:43<00:44,  4.02s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:47<00:40,  4.03s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:51<00:36,  4.03s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:55<00:32,  4.03s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:59<00:28,  4.03s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [01:03<00:24,  4.03s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [01:07<00:20,  4.03s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:11<00:16,  4.03s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:15<00:12,  4.03s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:19<00:08,  4.02s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:23<00:04,  4.03s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:27<00:00,  3.99s/it]
 29%|â–ˆâ–ˆâ–Š       | 2/7 [02:42<06:52, 82.43s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:02<00:52,  2.50s/it]
  9%|â–‰         | 2/22 [00:05<01:00,  3.01s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:09<01:00,  3.18s/it]
 18%|â–ˆâ–Š        | 4/22 [00:12<00:58,  3.25s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:15<00:56,  3.29s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:19<00:53,  3.33s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:22<00:50,  3.34s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:26<00:46,  3.35s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:29<00:43,  3.36s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:32<00:40,  3.38s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:36<00:37,  3.38s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:39<00:33,  3.38s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:43<00:30,  3.38s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:46<00:27,  3.38s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:49<00:23,  3.38s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [00:53<00:20,  3.39s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [00:56<00:16,  3.38s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:00<00:13,  3.38s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:03<00:10,  3.37s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:06<00:06,  3.37s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:10<00:03,  3.37s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:13<00:00,  3.34s/it]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 3/7 [03:56<05:13, 78.35s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:02<00:52,  2.49s/it]
  9%|â–‰         | 2/22 [00:05<01:00,  3.02s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:09<01:00,  3.21s/it]
 18%|â–ˆâ–Š        | 4/22 [00:12<00:59,  3.30s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:16<00:56,  3.34s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:19<00:53,  3.37s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:23<00:50,  3.38s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:26<00:47,  3.39s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:29<00:44,  3.40s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:33<00:40,  3.41s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:36<00:37,  3.42s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:40<00:34,  3.42s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:43<00:30,  3.42s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:46<00:27,  3.42s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:50<00:23,  3.42s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [00:53<00:20,  3.42s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [00:57<00:17,  3.42s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:00<00:13,  3.42s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:04<00:10,  3.42s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:07<00:06,  3.42s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:10<00:03,  3.42s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:14<00:00,  3.38s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹    | 4/7 [05:10<03:50, 76.77s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:02<00:54,  2.58s/it]
  9%|â–‰         | 2/22 [00:06<01:01,  3.10s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:09<01:02,  3.28s/it]
 18%|â–ˆâ–Š        | 4/22 [00:13<01:00,  3.36s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:16<00:57,  3.40s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:19<00:54,  3.43s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:23<00:51,  3.44s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:26<00:48,  3.45s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:30<00:45,  3.46s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:33<00:41,  3.47s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:37<00:38,  3.47s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:40<00:34,  3.47s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:44<00:31,  3.47s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:47<00:27,  3.47s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:51<00:24,  3.47s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [00:54<00:20,  3.48s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [00:58<00:17,  3.48s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:01<00:13,  3.47s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:05<00:10,  3.47s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:08<00:06,  3.47s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:12<00:03,  3.47s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:15<00:00,  3.43s/it]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 5/7 [06:25<02:32, 76.34s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:02<00:54,  2.59s/it]
  9%|â–‰         | 2/22 [00:06<01:02,  3.13s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:09<01:02,  3.31s/it]
 18%|â–ˆâ–Š        | 4/22 [00:13<01:01,  3.39s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:16<00:58,  3.44s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:20<00:55,  3.46s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:23<00:52,  3.48s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:27<00:48,  3.49s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:30<00:45,  3.50s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:34<00:41,  3.50s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:37<00:38,  3.50s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:41<00:35,  3.51s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:44<00:31,  3.51s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:48<00:28,  3.51s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:51<00:24,  3.51s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [00:55<00:21,  3.51s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [00:58<00:17,  3.51s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:02<00:13,  3.50s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:05<00:10,  3.50s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:09<00:06,  3.50s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:12<00:03,  3.50s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:16<00:00,  3.47s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 6/7 [07:42<01:16, 76.32s/it]
  0%|          | 0/22 [00:00<?, ?it/s]
  5%|â–         | 1/22 [00:03<01:04,  3.05s/it]
  9%|â–‰         | 2/22 [00:07<01:11,  3.59s/it]
 14%|â–ˆâ–Ž        | 3/22 [00:11<01:11,  3.78s/it]
 18%|â–ˆâ–Š        | 4/22 [00:15<01:09,  3.86s/it]
 23%|â–ˆâ–ˆâ–Ž       | 5/22 [00:18<01:06,  3.90s/it]
 27%|â–ˆâ–ˆâ–‹       | 6/22 [00:22<01:02,  3.93s/it]
 32%|â–ˆâ–ˆâ–ˆâ–      | 7/22 [00:26<00:59,  3.94s/it]
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 8/22 [00:30<00:55,  3.95s/it]
 41%|â–ˆâ–ˆâ–ˆâ–ˆ      | 9/22 [00:34<00:51,  3.96s/it]
 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 10/22 [00:38<00:47,  3.96s/it]
 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 11/22 [00:42<00:43,  3.97s/it]
 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 12/22 [00:46<00:39,  3.98s/it]
 59%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‰    | 13/22 [00:50<00:35,  3.97s/it]
 64%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 14/22 [00:54<00:31,  3.97s/it]
 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 15/22 [00:58<00:27,  3.97s/it]
 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 16/22 [01:02<00:23,  3.98s/it]
 77%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹  | 17/22 [01:06<00:19,  3.98s/it]
 82%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ– | 18/22 [01:10<00:15,  3.97s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹ | 19/22 [01:14<00:11,  3.97s/it]
 91%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 20/22 [01:18<00:07,  3.97s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 21/22 [01:22<00:03,  3.98s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 22/22 [01:26<00:00,  3.93s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 7/7 [09:08<00:00, 78.40s/it]

In [71]:
master = pd.concat(result_dfs, axis=1, keys=list(LUT_INDEX.values())).T

In [72]:
master

                                                   gbm  classical             \
                                   gbm(classical-size)  tick(all)   tick(ex)
Option Type       C                          71.726305  50.068165  48.639452
                  P                          72.263779  50.885849  49.446618
                  all                        71.970823  50.440161  49.006663
Security Type     Index option               67.418516  48.293046  48.174157
                  Others                     74.140903  50.500341  48.745063
                  Stock options              71.521690  50.628366  49.197934
                  all                        71.970823  50.440161  49.006663
Trade Size        (0,1]                      70.805402  49.300227  48.806380
                  (1,3]                      71.384306  49.681809  48.943375
                  (3,5]                      71.967362  50.049784  48.731932
                  (5,11]                     71.571455  50.425808  48.827326
                  >11                        74.498617  53.030815  49.696146
                  all                        71.970823  50.440161  49.006663
Year              2015                       71.497521  50.346261  48.779877
                  2016                       71.624954  50.420550  48.904024
                  2017                       72.398824  50.472687  49.144306
                  all                        71.970823  50.440161  49.006663
Time to Maturity  ttm <= 1 month             72.015004  50.679230  48.975387
                  ttm (1-2] month            72.648398  51.301982  49.791415
                  ttm (2-3] month            72.321337  50.112909  48.990408
                  ttm (3-6] month            72.895032  49.515227  48.819425
                  ttm (6-12] month           71.950704  49.498436  48.591253
                  ttm > 12 month             66.808042  49.318407  48.433594
                  all                        71.970823  50.440161  49.006663
Moneyness         myn <= 0.7                 73.013351  51.738718  49.728784
                  myn (0.7-0.9]              72.201759  50.549440  48.423386
                  myn (0.9-1.1]              72.631488  50.575395  49.278613
                  myn (1.1-1.3]              66.175326  48.645103  47.879624
                  myn > 1.3                  64.543886  48.063069  47.501014
                  all                        71.970823  50.440161  49.006663
Location to Quote at mid                     67.930315  45.393812  45.332425
                  at quote                   74.793421  51.099545  48.553174
                  inside                     71.992303  50.997505  49.583989
                  other                      83.383004  50.925675  49.869051
                  outside                    71.324540  56.815059  53.050289
                  all                        71.970823  50.440161  49.006663

                                                                      \
                                   quote(best)  quote(ex)     lr(ex)
Option Type       C                  59.216378  61.855015  61.529399
                  P                  60.486601  62.281154  62.011341
                  all                59.794251  62.048882  61.748653
Security Type     Index option       53.302115  53.865554  53.648287
                  Others             63.366657  66.064760  65.669597
                  Stock options      58.955429  61.193841  60.924802
                  all                59.794251  62.048882  61.748653
Trade Size        (0,1]              56.129130  58.840355  58.626470
                  (1,3]              58.705402  62.018777  61.732442
                  (3,5]              59.453704  62.431819  62.139861
                  (5,11]             60.378448  62.782615  62.449727
                  >11                65.475073  65.364517  64.960174
                  all                59.794251  62.048882  61.748653
Year              2015               60.268547  63.920984  63.546749
                  2016               59.183502  62.841641  62.523872
                  2017               60.388713  60.970926  60.698560
                  all                59.794251  62.048882  61.748653
Time to Maturity  ttm <= 1 month     60.868572  62.861248  62.488421
                  ttm (1-2] month    61.022620  62.824691  62.620805
                  ttm (2-3] month    59.403224  61.869454  61.609039
                  ttm (3-6] month    58.235558  61.102543  60.868971
                  ttm (6-12] month   57.861840  60.698895  60.545893
                  ttm > 12 month     50.255427  54.322709  54.247373
                  all                59.794251  62.048882  61.748653
Moneyness         myn <= 0.7         59.816463  56.297593  55.944499
                  myn (0.7-0.9]      59.972897  60.706421  60.317990
                  myn (0.9-1.1]      60.713692  63.650009  63.363814
                  myn (1.1-1.3]      52.675064  55.822384  55.650436
                  myn > 1.3          50.742968  53.703573  53.465359
                  all                59.794251  62.048882  61.748653
Location to Quote at mid             54.256051  49.906555  47.003303
                  at quote           38.647994  38.149341  38.143309
                  inside             64.384935  68.089822  68.089822
                  other              82.741804  50.808272  50.925675
                  outside            70.761198  69.510855  69.503985
                  all                59.794251  62.048882  61.748653

                                                                       \
                                     lr(best) rev_lr(ex) rev_lr(best)
Option Type       C                 58.942468  61.811671    59.181008
                  P                 60.267345  62.209134    60.424101
                  all               59.545206  61.992492    59.746539
Security Type     Index option      53.092002  53.848860    53.278027
                  Others            63.073521  65.929370    63.271074
                  Stock options     58.720834  61.166324    58.925248
                  all               59.545206  61.992492    59.746539
Trade Size        (0,1]             55.945127  58.814920    56.112292
                  (1,3]             58.466148  61.975068    58.674435
                  (3,5]             59.151767  62.387721    59.409662
                  (5,11]            60.057222  62.715006    60.306868
                  >11               65.233788  65.255681    65.388481
                  all               59.545206  61.992492    59.746539
Year              2015              59.964595  63.905396    60.279959
                  2016              58.935007  62.781024    59.145843
                  2017              60.145840  60.914030    60.322974
                  all               59.545206  61.992492    59.746539
Time to Maturity  ttm <= 1 month    60.592161  62.782658    60.797065
                  ttm (1-2] month   60.744764  62.712737    60.937705
                  ttm (2-3] month   59.127158  61.828738    59.367568
                  ttm (3-6] month   58.034152  61.118356    58.245853
                  ttm (6-12] month  57.697776  60.720669    57.877559
                  ttm > 12 month    50.223967  54.375257    50.351000
                  all               59.545206  61.992492    59.746539
Moneyness         myn <= 0.7        59.535249  56.141764    59.802592
                  myn (0.7-0.9]     59.657827  60.634508    59.910412
                  myn (0.9-1.1]     60.473948  63.591727    60.655180
                  myn (1.1-1.3]     52.515642  55.855280    52.722258
                  myn > 1.3         50.576540  53.766023    50.808959
                  all               59.545206  61.992492    59.746539
Location to Quote at mid            52.674451  49.201886    53.813303
                  at quote          38.790627  38.171215    38.737182
                  inside            64.245786  68.089822    64.365581
                  other             82.281225  65.926127    82.660526
                  outside           70.713108  69.668865    71.022259
                  all               59.545206  61.992492    59.746539

                                               ...                           \
                                      emo(ex)  ... rev_emo(best)   clnv(ex)
Option Type       C                 48.509719  ...     52.577056  53.209126
                  P                 48.803783  ...     53.645393  53.296756
                  all               48.643500  ...     53.063084  53.248992
Security Type     Index option      42.012213  ...     43.742599  43.576012
                  Others            50.246585  ...     55.944851  55.151702
                  Stock options     48.636117  ...     52.791816  53.419253
                  all               48.643500  ...     53.063084  53.248992
Trade Size        (0,1]             46.875427  ...     50.347241  50.730336
                  (1,3]             48.552952  ...     52.041166  52.889873
                  (3,5]             48.989046  ...     53.106561  53.488609
                  (5,11]            48.701236  ...     53.288827  53.621842
                  >11               50.774968  ...     57.483752  56.436478
                  all               48.643500  ...     53.063084  53.248992
Year              2015              49.638570  ...     53.681106  54.282470
                  2016              48.904745  ...     53.313564  53.439831
                  2017              48.241708  ...     52.719227  52.917731
                  all               48.643500  ...     53.063084  53.248992
Time to Maturity  ttm <= 1 month    49.374048  ...     54.177848  53.898003
                  ttm (1-2] month   49.507250  ...     54.396378  54.078994
                  ttm (2-3] month   47.661741  ...     51.630209  52.629269
                  ttm (3-6] month   47.112356  ...     50.717268  52.192784
                  ttm (6-12] month  46.935247  ...     50.048963  51.944137
                  ttm > 12 month    44.882949  ...     47.808970  48.298738
                  all               48.643500  ...     53.063084  53.248992
Moneyness         myn <= 0.7        47.816132  ...     57.191858  50.890932
                  myn (0.7-0.9]     48.093511  ...     54.180091  52.085755
                  myn (0.9-1.1]     49.109522  ...     52.966808  54.207800
                  myn (1.1-1.3]     46.911451  ...     49.608088  49.944139
                  myn > 1.3         45.699285  ...     48.500222  47.993214
                  all               48.643500  ...     53.063084  53.248992
Location to Quote at mid            45.393812  ...     53.599583  45.393812
                  at quote          38.143309  ...     38.367745  38.141448
                  inside            50.997505  ...     55.644791  57.088403
                  other             50.925675  ...     74.758421  50.925675
                  outside           56.815059  ...     63.162957  56.815059
                  all               48.643500  ...     53.063084  53.248992

                                                                           \
                                   clnv(best) rev_clnv(ex) rev_clnv(best)
Option Type       C                 53.629622    54.799300      55.050791
                  P                 54.725847    54.279688      55.818674
                  all               54.128337    54.562908      55.400130
Security Type     Index option      43.524736    44.947943      44.899767
                  Others            56.937947    56.668850      58.265498
                  Stock options     54.014448    54.643010      55.252876
                  all               54.128337    54.562908      55.400130
Trade Size        (0,1]             50.843193    52.383491      52.281691
                  (1,3]             52.810937    54.463642      54.203829
                  (3,5]             53.738755    55.014406      55.223074
                  (5,11]            54.484192    54.895211      55.773871
                  >11               59.794916    56.917718      60.553485
                  all               54.128337    54.562908      55.400130
Year              2015              53.965296    56.190521      55.768690
                  2016              53.930377    54.915380      55.319834
                  2017              54.360025    53.985707      55.440580
                  all               54.128337    54.562908      55.400130
Time to Maturity  ttm <= 1 month    55.325852    55.213366      56.482775
                  ttm (1-2] month   55.209795    54.714535      56.527421
                  ttm (2-3] month   52.902275    53.985825      54.182930
                  ttm (3-6] month   52.055306    53.844943      53.579609
                  ttm (6-12] month  51.530776    53.496163      52.957978
                  ttm > 12 month    46.893717    50.122102      48.622869
                  all               54.128337    54.562908      55.400130
Moneyness         myn <= 0.7        56.118704    51.050905      58.198356
                  myn (0.7-0.9]     54.309320    53.981554      56.055048
                  myn (0.9-1.1]     54.653611    55.371890      55.713726
                  myn (1.1-1.3]     49.166261    51.621866      50.564620
                  myn > 1.3         47.095086    50.084984      48.828248
                  all               54.128337    54.562908      55.400130
Location to Quote at mid            50.846466    49.026288      53.666655
                  at quote          38.378569    38.228663      38.401458
                  inside            57.431360    58.287462      58.712137
                  other             74.875824    65.926127      79.608056
                  outside           60.263809    63.348447      64.763671
                  all               54.128337    54.562908      55.400130

                                                              \
                                   trade_size(ex)->tick(all)
Option Type       C                                53.317029
                  P                                54.005699
                  all                              53.630332
Security Type     Index option                     55.215306
                  Others                           52.849903
                  Stock options                    53.797034
                  all                              53.630332
Trade Size        (0,1]                            53.681652
                  (1,3]                            52.647729
                  (3,5]                            53.293432
                  (5,11]                           53.028153
                  >11                              55.393036
                  all                              53.630332
Year              2015                             52.477266
                  2016                             53.052483
                  2017                             54.390016
                  all                              53.630332
Time to Maturity  ttm <= 1 month                   53.365127
                  ttm (1-2] month                  54.214961
                  ttm (2-3] month                  53.984883
                  ttm (3-6] month                  53.839828
                  ttm (6-12] month                 53.538896
                  ttm > 12 month                   54.540044
                  all                              53.630332
Moneyness         myn <= 0.7                       56.105553
                  myn (0.7-0.9]                    53.897938
                  myn (0.9-1.1]                    53.593851
                  myn (1.1-1.3]                    52.094565
                  myn > 1.3                        52.097564
                  all                              53.630332
Location to Quote at mid                           45.935008
                  at quote                         71.216764
                  inside                           51.451935
                  other                            50.925675
                  outside                          57.721902
                  all                              53.630332

                                                                \
                                   trade_size(ex)->quote(best)
Option Type       C                                  64.006189
                  P                                  65.307006
                  all                                64.597981
Security Type     Index option                       65.074845
                  Others                             66.670364
                  Stock options                      63.690007
                  all                                64.597981
Trade Size        (0,1]                              62.283829
                  (1,3]                              63.065882
                  (3,5]                              64.319036
                  (5,11]                             64.291220
                  >11                                69.746108
                  all                                64.597981
Year              2015                               62.933835
                  2016                               63.140060
                  2017                               66.361362
                  all                                64.597981
Time to Maturity  ttm <= 1 month                     64.834447
                  ttm (1-2] month                    65.461359
                  ttm (2-3] month                    65.256490
                  ttm (3-6] month                    64.755366
                  ttm (6-12] month                   64.132005
                  ttm > 12 month                     58.650520
                  all                                64.597981
Moneyness         myn <= 0.7                         67.183157
                  myn (0.7-0.9]                      65.216284
                  myn (0.9-1.1]                      65.180930
                  myn (1.1-1.3]                      57.641566
                  myn > 1.3                          56.631664
                  all                                64.597981
Location to Quote at mid                             54.626271
                  at quote                           72.472106
                  inside                             64.483919
                  other                              82.741804
                  outside                            70.981039
                  all                                64.597981

                                                                           \
                                   trade_size(ex)->quote(best)->quote(ex)
Option Type       C                                             64.530429
                  P                                             65.933980
                  all                                           65.168958
Security Type     Index option                                  65.093686
                  Others                                        67.526332
                  Stock options                                 64.197477
                  all                                           65.168958
Trade Size        (0,1]                                         62.794485
                  (1,3]                                         63.655184
                  (3,5]                                         64.920123
                  (5,11]                                        64.887951
                  >11                                           70.332353
                  all                                           65.168958
Year              2015                                          63.459767
                  2016                                          63.735470
                  2017                                          66.911767

In [74]:
master.style.pipe(
    set_tex_style, caption=("master-short", "master-long"), label=f"{key}-master"
)

## Effective Spread ðŸš§

In [ ]:
classifiers

In [ ]:
eff_dfs = []


def stats(x, classifier):

    nom = effective_spread(x[classifier], x["TRADE_PRICE"], x["mid"], mode="nominal")
    rel = (
        effective_spread(x[classifier], x["TRADE_PRICE"], x["mid"], mode="relative")
        * 100
    )

    # eff_spread_pred = effective_spread(x[classifier], x["TRADE_PRICE"], x["mid"], mode="none")
    # eff_spread_true = effective_spread(x["buy_sell"], x["TRADE_PRICE"], x["mid"], mode="none")
    # wilcoxon_res  = wilcoxon(eff_spread_pred, eff_spread_true, nan_policy="omit", zero_method="zsplit")

    return pd.Series(
        {
            "nominal": nom,
            "rel": rel,
            # 'statistic':wilcoxon_res.statistic,
            # 'pvalue':wilcoxon_res.pvalue
        }
    )


for criterion in tqdm(criterions):
    results = []

    for classifier in tqdm(classifiers):
        res = X_print.groupby([criterion])[
            ["TRADE_PRICE", "mid", classifier, "buy_sell"]
        ].apply(stats, classifier)
        results.append(res)

    # save aggregated results
    result_df = pd.concat(results, axis=1, keys=classifiers).T
    result_df.style.pipe(
        set_tex_style,
        caption=(f"long-tbd", "short-tbd"),
        label=f"{key.lower()}-{criterion.lower()}-eff-spread",
    )

    # store all result sets for later use
    eff_dfs.append(result_df)

In [ ]:
master = pd.concat(eff_dfs, axis=1, keys=LUT_INDEX.values()).T

In [ ]:
master

In [ ]:
master.iloc[:, 0:20]

In [ ]:
master.iloc[:, 21:40]

In [ ]:
master.iloc[:, 41:-1]

In [ ]:
master.style.pipe(
    set_tex_style,
    caption=("master-short", "master-long"),
    label=f"{key}-master-eff-spread",
)

## Change in Parenthesis ðŸ…¾ï¸

```latex
# https://tex.stackexchange.com/questions/430283/table-with-numbers-in-parentheses-in-siunitx/430290#430290
\begin{table}
    \centering
    \caption{test of combination with change}
    \label{tab:combo}
    \begin{tabular}{lSSSSSSSS}
        \toprule
        {} & \multicolumn{2}{l}{Index option} & \multicolumn{2}{l}{Others} & \multicolumn{2}{l}{Stock options} & \multicolumn{2}{l}{all} \\
        \midrule
        classical-size & 1.0 & \parl-56.42\parr & 2.0 & \parl-74.35\parr & -73.5 & \parl-143.93\parr & 5.0 & \parl-67.33\parr \\
        \bottomrule
        \end{tabular}
\end{table}
```

In [ ]:
foo = pd.DataFrame([[4, 3, 8, 5]])
bar = pd.DataFrame([[1.1, 2, 73, 5]], columns=foo.columns, index=foo.index)

In [ ]:
def combine_results(revised: pd.DataFrame, base: pd.DataFrame) -> pd.DataFrame:
    """
    Generate print layout like in Grauer et al.

    https://tex.stackexchange.com/questions/430283/table-with-numbers-in-parentheses-in-siunitx/430290#430290

    # see p. https://texdoc.org/serve/siunitx/0
    """
    # first, second layer of colum index
    c_1 = revised.columns
    c_2 = ["nom"]
    midx = pd.MultiIndex.from_product([c_1, c_2])

    # copy data from revised add as (column, "nom")
    combo = pd.DataFrame(revised.values, index=revised.index, columns=midx)

    for i, mul_col in enumerate(combo.columns):

        # define custom brackets that are not parsed by sunitx
        combo[[(mul_col[0], "pm")]] = (
            "\parl" + (combo[mul_col] - base[mul_col[0]]).round(2).astype(str) + "\parr"
        )
        # sort to group together columns
        combo.sort_index(axis=1, inplace=True)
    return combo

In [ ]:
combo = combine_results(bar, foo)

# manually replace S with S[table-format=1.4(5)] if needed
combo.style.to_latex(
    f"combo.tex",
    siunitx=True,
    position_float="centering",
    hrules=True,
    clines="skip-last;data",
    label="tab:combo",
    caption="test of combination with change",
    multicol_align="l",
)

In [ ]:
combo