<a href="https://colab.research.google.com/github/KarelZe/thesis/blob/baseline/notebooks/data_preprocessing_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install modin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: modin in /usr/local/lib/python3.7/dist-packages (0.12.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (from modin) (2022.10.0)
Requirement already satisfied: pandas==1.3.5 in /usr/local/lib/python3.7/dist-packages (from modin) (1.3.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from modin) (21.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from modin) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->modin) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->modin) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.5->modin) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->modin) (3.0.9)

In [2]:
# use gcs fuse to access google cloud storage
# https://stackoverflow.com/a/60450255/5755604
!echo "deb http://packages.cloud.google.com/apt gcsfuse-bionic main" > /etc/apt/sources.list.d/gcsfuse.list
!curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
!apt -qq update
!apt -qq install gcsfuse

# mount google cloud stoarge as drive
!mkdir gcs
!gcsfuse thesis-bucket-option-trade-classification gcs

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2537  100  2537    0     0  23933      0 --:--:-- --:--:-- --:--:-- 24161
OK
33 packages can be upgraded. Run 'apt list --upgradable' to see them.
gcsfuse is already the newest version (0.41.8).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 33 not upgraded.
mkdir: cannot create directory ‘gcs’: File exists
2022/10/28 18:13:45.083767 Start gcsfuse/0.41.8 (Go version go1.18.4) for app "" using mount point: /content/gcs
2022/10/28 18:13:45.110181 Opening GCS connection...
2022/10/28 18:13:45.360728 Mounting file system "thesis-bucket-option-trade-classification"...
2022/10/28 18:13:45.364580 File system has been successfully mounted.

In [3]:
import numpy as np
import modin.pandas as pd
import modin.config as cfg
from modin.config import ProgressBar
from distributed import Client
cfg.Engine.put("dask")
ProgressBar.enable()

from sklearn.metrics import accuracy_score


from tqdm.notebook import tqdm

In [4]:
from google.colab import auth
auth.authenticate_user()

In [5]:
client = Client()

file_path = "./gcs/data/preprocessed/matched_ise_quotes_2015.parquet"

df = pd.read_parquet(file_path)

In [6]:
df.head().T

,34736684,34736685,34736686,34736687,34736688
UNDERLYING_SYMBOL,LINE,LINE,AMZN,TLT,TLT
QUOTE_DATETIME,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00
SEQUENCE_NUMBER,74466,67183330,8588013,7331304,7331305
ROOT,LINE,LINE,AMZN,TLT,TLT
EXPIRATION,2015-04-17 00:00:00,2015-04-17 00:00:00,2015-02-20 00:00:00,2015-01-02 00:00:00,2015-01-02 00:00:00
STRK_PRC,9.0,18.0,390.0,124.0,126.0
OPTION_TYPE,C,C,C,P,P
TRADE_SIZE,5,5,1,20,20
TRADE_PRICE,2.14,0.04,1.42,0.01,0.18
BEST_BID,1.8,0.0,0.0,0.0,0.05
BEST_ASK,2.15,0.5,0.0,0.14,0.19
order_id,1624705991,1624706010,1624706024,1624706072,1624706073
ask_ex,2.15,0.5,NaN,0.14,0.19
bid_ex,1.8,0.0,NaN,0.0,0.05
bid_size_ex,11.0,0.0,NaN,0.0,80.0
ask_size_ex,11.0,31.0,NaN,56.0,21.0
price_all_lead,2.83,0.28,1.3,0.03,0.15
price_all_lag,2.25,0.21,1.35,0.03,0.42
optionid,106126248.0,105166752.0,106064528.0,105919880.0,105919880.0
day_vol,10.0,10.0,1.0,20.0,20.0
price_ex_lead,3.29,0.22,0.37,NaN,NaN
price_ex_lag,2.3,0.2,1.35,0.04,0.4
buy_sell,1.0,-1.0,-1.0,-1.0,1.0

In [7]:
# quote rule
mid = 0.5 * (df['BEST_ASK'] + df['BEST_BID'])
df['pred_quote_rule'] = np.where(df['TRADE_PRICE'] > mid, 1, np.where(df['TRADE_PRICE'] < mid, -1, np.nan))

In [12]:
# tick rule
# FIXME: test if a lead price already different from the trade price?
df['pred_tick_test'] = np.where(df['TRADE_PRICE'] > df['price_all_lead'], 1.0, -1.0)

In [13]:
# reverse tick rule
df['pred_rev_tick_test'] = np.where(df['TRADE_PRICE'] > df['price_all_lag'], 1.0, -1.0)

In [14]:
df.head().T

,34736684,34736685,34736686,34736687,34736688
UNDERLYING_SYMBOL,LINE,LINE,AMZN,TLT,TLT
QUOTE_DATETIME,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00,2015-01-02 09:30:00
SEQUENCE_NUMBER,74466,67183330,8588013,7331304,7331305
ROOT,LINE,LINE,AMZN,TLT,TLT
EXPIRATION,2015-04-17 00:00:00,2015-04-17 00:00:00,2015-02-20 00:00:00,2015-01-02 00:00:00,2015-01-02 00:00:00
STRK_PRC,9.0,18.0,390.0,124.0,126.0
OPTION_TYPE,C,C,C,P,P
TRADE_SIZE,5,5,1,20,20
TRADE_PRICE,2.14,0.04,1.42,0.01,0.18
BEST_BID,1.8,0.0,0.0,0.0,0.05
BEST_ASK,2.15,0.5,0.0,0.14,0.19
order_id,1624705991,1624706010,1624706024,1624706072,1624706073
ask_ex,2.15,0.5,NaN,0.14,0.19
bid_ex,1.8,0.0,NaN,0.0,0.05
bid_size_ex,11.0,0.0,NaN,0.0,80.0
ask_size_ex,11.0,31.0,NaN,56.0,21.0
price_all_lead,2.83,0.28,1.3,0.03,0.15
price_all_lag,2.25,0.21,1.35,0.03,0.42
optionid,106126248.0,105166752.0,106064528.0,105919880.0,105919880.0
day_vol,10.0,10.0,1.0,20.0,20.0
price_ex_lead,3.29,0.22,0.37,NaN,NaN
price_ex_lag,2.3,0.2,1.35,0.04,0.4
buy_sell,1.0,-1.0,-1.0,-1.0,1.0
pred_quote_rule,1.0,-1.0,1.0,-1.0,1.0
pred_tick_test,-1.0,-1.0,1.0,-1.0,1.0
pred_rev_tick_test,-1.0,-1.0,1.0,-1.0,-1.0

In [10]:
# FIXME: Discuss with C. Grauer how results were calculated in table 9 for 
# quote rule alone
cond = df['pred_quote_rule'].notna()
acc = accuracy_score(df['buy_sell'][cond], df['pred_quote_rule'][cond])
print(f"{acc:.3%}")

56.516%

In [15]:
acc = accuracy_score(df['buy_sell'], df['pred_tick_test'])
print(f"{acc:.3%}")

53.120%

In [16]:
acc = accuracy_score(df['buy_sell'], df['pred_rev_tick_test'])
print(f"{acc:.3%}")

53.864%